<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="css/register.css">
</head>
<body>
    <form action="Register" method="post" class="registerForm">
        <h2 id="Register">Register</h2>
        <div class ="nicknameForm">
            <input type="text" class="nickname" name="nickname" placeholder="Nickname">
        </div>
        <div class="idForm">
            <input type="text" class="id" name="id" placeholder="ID">
        </div>
        <div class="passForm">
            <input type="password" name="password" class="pw" placeholder="PW">
        </div>
        <div class="passForm">
            <input type="password" name="passwordconfirm" class="pw" placeholder="PW확인">
        </div>
        <div>
            <input type= "submit" class="btn" value="Resgister">
        </div>
        <div>
            <input type="button" class="btn" value="돌아가기" onclick="location.href='biomedical_Login.html'">
        </div>
    </form>
</body>
</html>